In [1]:
import pandas as pd

In [2]:
# Import data file
data = pd.read_csv('US_counties_COVID19_health_weather_data.csv')
data.head()

/Users/jihyunmoon/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (190,202) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,county,state,fips,cases,deaths,stay_at_home_announced,stay_at_home_effective,lat,lon,...,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg,date_stay_at_home_announced,date_stay_at_home_effective
0,2020-01-21,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,...,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333,2020-03-23,2020-03-23
1,2020-01-22,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,...,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000,2020-03-23,2020-03-23
2,2020-01-23,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,...,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000,2020-03-23,2020-03-23
3,2020-01-24,Cook,Illinois,17031,1,0,no,no,41.840039,-87.816716,...,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333,2020-03-20,2020-03-21
4,2020-01-24,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,...,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333,2020-03-23,2020-03-23

In [3]:
# Drop all columns with 'num_'
data = data[data.columns.drop(list(data.filter(regex='num_')))]
data.head()

,date,county,state,fips,cases,deaths,stay_at_home_announced,stay_at_home_effective,lat,lon,...,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg,date_stay_at_home_announced,date_stay_at_home_effective
0,2020-01-21,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,...,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333,2020-03-23,2020-03-23
1,2020-01-22,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,...,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000,2020-03-23,2020-03-23
2,2020-01-23,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,...,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000,2020-03-23,2020-03-23
3,2020-01-24,Cook,Illinois,17031,1,0,no,no,41.840039,-87.816716,...,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333,2020-03-20,2020-03-21
4,2020-01-24,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,...,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333,2020-03-23,2020-03-23

In [4]:
# Drop all weather columns
data = data.loc[:,:'percentile_rank_social_vulnerability']
data.head()

,date,county,state,fips,cases,deaths,stay_at_home_announced,stay_at_home_effective,lat,lon,...,percentile_rank_minorities,percentile_rank_limited_english_abilities,percentile_rank_minority_status_and_language_theme,percentile_rank_multi_unit_housing,percentile_rank_mobile_homes,percentile_rank_overcrowding,percentile_rank_no_vehicle,percentile_rank_institutionalized_in_group_quarters,percentile_rank_housing_and_transportation,percentile_rank_social_vulnerability
0,2020-01-21,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,...,0.6784,0.8631,0.8249,0.9472,0.2404,0.7705,0.3473,0.3021,0.5384,0.2961
1,2020-01-22,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,...,0.6784,0.8631,0.8249,0.9472,0.2404,0.7705,0.3473,0.3021,0.5384,0.2961
2,2020-01-23,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,...,0.6784,0.8631,0.8249,0.9472,0.2404,0.7705,0.3473,0.3021,0.5384,0.2961
3,2020-01-24,Cook,Illinois,17031,1,0,no,no,41.840039,-87.816716,...,0.9182,0.9532,0.9631,0.9863,0.0258,0.8491,0.9882,0.4371,0.8742,0.6937
4,2020-01-24,Snohomish,Washington,53061,1,0,no,no,48.047489,-121.697307,...,0.6784,0.8631,0.8249,0.9472,0.2404,0.7705,0.3473,0.3021,0.5384,0.2961

In [5]:
# Select rows for most recent date
data_recent = data[data.date == data.date.max()]
data_recent.head()

,date,county,state,fips,cases,deaths,stay_at_home_announced,stay_at_home_effective,lat,lon,...,percentile_rank_minorities,percentile_rank_limited_english_abilities,percentile_rank_minority_status_and_language_theme,percentile_rank_multi_unit_housing,percentile_rank_mobile_homes,percentile_rank_overcrowding,percentile_rank_no_vehicle,percentile_rank_institutionalized_in_group_quarters,percentile_rank_housing_and_transportation,percentile_rank_social_vulnerability
174942,2020-05-26,Autauga,Alabama,01001,189,3,yes,yes,32.534928,-86.642748,...,0.6339,0.5355,0.5976,0.6791,0.7268,0.2477,0.3298,0.1251,0.2881,0.3773
174943,2020-05-26,Baldwin,Alabama,01003,277,9,yes,yes,30.727489,-87.722575,...,0.5253,0.5282,0.5294,0.9733,0.5387,0.2639,0.0872,0.3438,0.3324,0.2757
174944,2020-05-26,Barbour,Alabama,01005,122,1,yes,yes,31.869589,-85.393213,...,0.9042,0.6979,0.8558,0.2814,0.9370,0.4438,0.8816,0.9427,0.9312,0.9847
174945,2020-05-26,Bibb,Alabama,01007,66,1,yes,yes,32.998634,-87.126480,...,0.6450,0.3553,0.5018,0.4072,0.9249,0.0248,0.5645,0.9156,0.6663,0.5737
174946,2020-05-26,Blount,Alabama,01009,51,1,yes,yes,33.980878,-86.567383,...,0.4238,0.7482,0.5992,0.1344,0.8465,0.5056,0.1907,0.1515,0.1827,0.4986

In [6]:
# Check columns with null values
data_recent.columns[data.isna().any()].tolist()

['years_of_potential_life_lost_rate',
 'percent_low_birthweight',
 'food_environment_index',
 'percent_with_access_to_exercise_opportunities',
 'percent_driving_deaths_with_alcohol_involvement',
 'chlamydia_rate',
 'teen_birth_rate',
 'primary_care_physicians_rate',
 'dentist_rate',
 'mental_health_provider_rate',
 'preventable_hospitalization_rate',
 'percent_with_annual_mammogram',
 'percent_vaccinated',
 'high_school_graduation_rate',
 'eightieth_percentile_income',
 'twentieth_percentile_income',
 'income_ratio',
 'annual_average_violent_crimes',
 'violent_crime_rate',
 'injury_death_rate',
 'average_daily_pm2_5',
 'presence_of_water_violation',
 'percent_drive_alone_to_work',
 'percent_long_commute_drives_alone',
 'life_expectancy',
 'age_adjusted_death_rate',
 'child_mortality_rate',
 'infant_mortality_rate',
 'hiv_prevalence_rate',
 'percent_limited_access_to_healthy_foods',
 'drug_overdose_mortality_rate',
 'motor_vehicle_mortality_rate',
 'other_primary_care_provider_rate',
 'percent_disconnected_youth',
 'average_grade_performance',
 'average_grade_performance_2',
 'percent_enrolled_in_free_or_reduced_lunch',
 'segregation_index',
 'segregation_index_2',
 'homicide_rate',
 'suicide_rate_age_adjusted',
 'firearm_fatalities_rate',
 'juvenile_arrest_rate',
 'percent_severe_housing_cost_burden',
 'percent_rural']

### How are we going to address the null values before importing to DB?